<html>
<link rel="icon" href="../../favicon.png" type="image/x-icon"/>
<style>
    input {
        margin: 0 15px 10px 15px;
    }
    label {
        padding-left: 15px;
    }
    .warning {
        border-color: red;
    }
    .valid {
        border-color: greenyellow;
    }
</style>
<head>
</head>
<body>
<div class="message-holder"></div>
{% block body %}{% endblock %}
<script type="application/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="../../js/main.js"></script>
</body>
</html>