<div>
    <label>Zip code:</label><br>
    <input name="zipCode" type="text" maxlength="10" value="{{ user.zipCode }}" tabindex="1">
</div>
<div>
    <label>City:</label><br>
    <input name="city" type="text" maxlength="100" value="{{ user.city }}" tabindex="2">
</div>
<div>
    <label>Street:</label><br>
    <input name="street" type="text" maxlength="100" value="{{ user.street }}" tabindex="3">
</div>
<div>
    <label>Home number:</label><br>
    <input name="home" type="text" maxlength="10" value="{{ user.home }}" tabindex="4">
</div>
