<div>
    <label>IBAN:</label><br>
    <input name="iban" type="text" maxlength="34" value="{{ user.iban }}" tabindex="1">
</div><div>
    <label>Account owner:</label><br>
    <input name="accountOwner" type="text" maxlength="100" value="{{ user.accountOwner }}" tabindex="2">
</div>
