<div class="reg-form" style="border: ridge; width: fit-content">
    {% if user.paymentDataId is not null %}
        <h3>You already have finnished registration. You payment data ID #:{{ user.paymentDataId }}</h3>
    {% else %}
        <form action="{{ route }}" name="first" method="post" class="user-data-form">
            {% if user.fillingLevel == 1 %}
                {% include 'reg_step_two.html.twig' %}
                <button type="submit" class="next">Next step-></button>
            {% elseif user.fillingLevel == 2 %}
                {% include 'reg_step_three.html.twig' %}
                <button type="submit" class="next">Finish registration</button>
            {% else %}
                {% include 'reg_step_one.html.twig' %}
                <button type="submit" class="next">Next step-></button>
            {% endif %}
        </form>
    {% endif %}
</div>