<div>
    <label>First name:</label><br>
    <input name="first" type="text" maxlength="50" value="{{ user.first }}" tabindex="1">
</div>
<div>
    <label>Last name:</label><br>
    <input name="last" type="text" maxlength="50" value="{{ user.last }}" tabindex="2">
</div>
<div>
    <label>Phone:</label><br>
    <input name="phone" type="text" maxlength="50" value="{{ user.phone }}" tabindex="3">
</div>

