{% extends "layout.html.twig" %}
{% block content %}
    {% if newsList is not empty %}
        {% for news in newsList %}
            <div class="list-group">
                <a href="{{ path('news_show', [id: news.id]) }}" class="list-group-item view">
                    <h3 class="list-group-item-heading"><b>{{ news.title }}</b></h3>
                    <p class="list-group-item-text">{{ news.content }}</p>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <h3>Nothing happened since you last entry. Try to check later. Sorry.</h3>
    {% endif %}
{% endblock %}
