<!DOCTYPE html>
<head>
    <title>{% block title '' %} Test apliccation</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
    {% block stylesheet %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Test news PORTAL</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Manage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
        <div class="jumbotron">
            {% block content %}{% endblock %}
        </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script href="{{ asset('/js/bootstrap.min.js') }}"></script>
{% block javascript %}{% endblock %}
</html>
